<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{% block title %}Squareglobe{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="Squarelobe visualizes your Foursquare checkin location data. Built upon WebGL Globe by the Google Data Arts Team">
        <meta name="author" content="Armin Weihbold">
        {% block header %}
        {% endblock %}
        {% stylesheets 
            '@KoyaanGlobeBundle/Resources/public/css/*'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=264843866925546";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <div id="title">
            Squareglobe
        </div>

        <div id="container"></div>

{% block body %}{% endblock %}
        <div id="info">
            <strong>Built upon <a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> by the Google Data Arts Team <span class="bull">&bull;</span> Created by <a href="https://plus.google.com/111276455097583689966">Armin Weihbold</a> <a href="https://plus.google.com/111276455097583689966">G+</a>  <a href="https://twitter.com/#!/koyaan5">twitter</a> <a href="https://www.facebook.com/armin.weihbold">facebook</a><span class="bull">&bull;</span> Demonstration data provided by <a href="https://plus.google.com/117972592845592950046">Ulf Weihbold</a>
        </div>
        <div id="socials">
            <div div="plusone">
                <div class="g-plusone" data-size="medium" data-annotation="none"></div>
            </div>
            <div id="like">
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-colorscheme="dark" data-font="arial"></div>
            </div>
        </div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% block analytics %}
<script type="text/javascript">
    
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29363638-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}
    </body>
</html>