{% extends '::blog.html.twig' %}

        {% block header %}
            <!-- Page Header -->
            <!-- Set your background image for this header on the line below. -->
            <header class="intro-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="site-heading">
                                <h1>armin weihbold</h1>
                                <hr class="small">
                                <span class="subheading">contact</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

{% block body %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/koyaan5">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            https://twitter.com/koyaan5
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/koyaan">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            https://github.com/koyaan
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+arminweihbold">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            https://plus.google.com/+arminweihbold
                        </a>
                    </li>
                    <li>
                        <a href="mailto:armin.weihbold@gmail.com">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                            armin.weihbold@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
{% endblock body %}


{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; koyaan.com 2015</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}