{% extends '::home_base.html.twig' %}

{% block title %}contact - koyaan{% endblock %}

{% block body %}
    <h1 class="sr-only">koyaan</h1>
    <img src="{{ asset('/bundles/koyaanhome/images/koyaan.png') }}" alt="koyaan" class="logo"/>
    <h1>Contact</h1>
    <div class="impressum">
        Armin Weihbold  - Graben 19a A-4020 Linz Austria - armin.weihbold(at)gmail.com<br>
        <a href="http://twitter.com/koyaan5">http://twitter.com/koyaan5</a>
    </div>
{% endblock %}
{% block footer %}
    <div class="pull-right">
        <a href="{{ path("index") }}">/</a>
    </div>
{% endblock %}  