{% extends '::home_base.html.twig' %}

{% block title %}koyaan{% endblock %}

{% block body %}
        <h1 class="visuallyhidden">koyaan</h1>
        <img src="{{ asset('/bundles/koyaanhome/images/koyaan.png') }}" alt="koyaan" class="logo"/>
{% endblock %}
{% block footer %}
        <div class="impressum">2012 - armin weihbold  - graben 19a A-4020 linz austria - armin.weihbold(at)gmail.com</div>
{% endblock %}  