{% extends '::home_base.html.twig' %}

{% block title %}koyaan{% endblock %}

{% block body %}
    <h1 class="sr-only">koyaan</h1>
    <img src="{{ asset('/bundles/koyaanhome/images/koyaan.png') }}" alt="koyaan" class="logo"/>
    <article>
        <h2>Basic Operations restored.</h2>
        <p class="date">27. August 2013</p>
        <p><a href="{{ path("squareglobe_index") }}">Squareglobe</a> is up and running again, planning a new version soon<sup>tm</sup></p>
    </article>
    <article>
        <h2>Site coming back up as fast as possible</h2>
        <p class="date">23. August 2012</p>
        <p>Some random content to see how twitter bootstrap and typecast beta deliver. If you have anything to do at all with styling content on the web I urge you to give them a try.</p>
        <p>Nothing else to see here move along!</p>
    </article>
{% endblock %}
{% block footer %}
    <div class="pull-right">
    <a href="{{ path("contact") }}">contact</a>
    </div>
{% endblock %}
